

.carousel {
    .carousel-group {
        .items {
            text-decoration: none;
            img {
                width: 100%;
                height: 100%;
            }
            
            cursor: pointer;
         }

        &:focus {
            outline: none !important;
            border: none !important;
        }

        &:hover {
            .slick-next {
                right: 25px;
            }
            .slick-prev {
                left: 25px;
            }
        }
         .slick-dots {
             bottom: -30px;
             position: initial;
         }
    }
}

.slick-dots li button:before {
     display: inline-block;
                         width: 17px;
                         height: 17px;
                         border-radius: 30px;
                         border: 2px solid #eb1689;
                         color: #eb1689;
                         margin: 2px;
                         text-indent: -4000px;
                         opacity: 1;
}

.slick-dots .slick-active button:before {
     background-color: #eb1689;
}

.slick-next {
    color: transparent;
    right: -40px;
    background-image: url("../../../../assets/img/carousel/arrow-right.png");
    background-color: #fff;  
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    transition: all .2s;
    border-radius: 90px;
    background-size: 35px 30px;
    background-repeat: no-repeat;
    background-position-x: 6px;
    background-position-y: 6px;

    &:hover {
        background-image: url("../../../../assets/img/carousel/arrow-right.png");
    background-color: #fff; 
    background-size: 35px 30px;
    background-repeat: no-repeat;
    background-position-x: 6px;
    background-position-y: 6px;
    opacity: 1;
    }

    &:focus {
        background-image: url("../../../../assets/img/carousel/arrow-right.png");
        background-color: #fff; 
        background-size: 35px 30px;
        background-repeat: no-repeat;
        background-position-x: 6px;
        background-position-y: 6px;
        opacity: 1;
    }

    &:before {
        content: none;
    }
}

.slick-prev {
    color: red;
    left: -40px;
    background-image: url("../../../../assets/img/carousel/arrow-left.png");
    background-color: #fff;  
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    transition: all .2s;
    border-radius: 90px;
    background-size: 35px 30px;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 6px;
    z-index: 1;
    transition: all 0.2s;

    &:hover {
        background-image: url("../../../../assets/img/carousel/arrow-left.png");
    background-color: #fff; 
    background-size: 35px 30px;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 6px;
    opacity: 1;
    }

    &:focus {
        background-image: url("../../../../assets/img/carousel/arrow-left.png");
        background-color: #fff; 
        background-size: 35px 30px;
        background-repeat: no-repeat;
        background-position-x: 0px;
        background-position-y: 6px;
        opacity: 1;
    }

    &:before {
        content: none;
    }
}

.carousel-group .slick-list .items img:hover {
    .slick-next {
        opacity: 0;
    }
}

@media only screen and (max-width: 576px) {
    .carousel {
        display: block;
    }
    .slick-dots {
       display: none !important;
    }
}